.drawingResult {
  padding-bottom: 24px;

  .wishesWrapper {
    margin-top: 32px;
    margin-bottom: 12px;

    .buttonWrapper {
      text-align: right;

      button {
        margin-top: 16px;
        min-width: 20%;
      }

      @media (max-width: 450px) {
        button {
          width: 100%;
        }
      }
    }
  }
}