:root {
  // Primary color
  --green-100: #017187;
  --green-80: #67AAB7;
  --green-60: #348D9F;
  --green-40: #99C6CF;
  --green-20: #99C6CF;
  //  Secondary color
  --pink-100: #F5A9AA;
  --pink-80: #F7BABB;
  --pink-60: #F9CBCC;
  --pink-40: #FBDDDD;
  --pink-20: #FDEEEE;
  // Base color
  --black-100: #2C3131;
  --black-80: #626262;
  --black-60: #A9A9A9;
  --black-40: #CACACA;
  --black-20: #E9E9E9;
  --white: #FFFFFF;
  //  Tertiary color
  --blue-100: #001F5C;
  --blue-80: #334C7D;
  --blue-60: #66799D;
  --blue-40: #99A5BE;
  --blue-20: #CCD2DE;
  --blue-0: #E6E9EF;
  //  Success color
  --success-100: #53D258;
  --success-80: #75DB79;
  --success-60: #98E49B;
  --success-40: #BAEDBC;
  --success-20: #DDF6DE;
  //  Warning color
  --warning-100: #E4C65B;
  --warning-80: #E9D17C;
  --warning-60: #EFDD9D;
  --warning-40: #F4E8BD;
  --warning-20: #FAF4DE;
  //  Error color
  --error-100: #E25C5C;
  --error-80: #E87D7D;
  --error-60: #EE9D9D;
  --error-40: #F3BEBE;
  --error-20: #F9DEDE;
  //  Info color
  --info-100: #2685CA;
  --info-80: #519DD5;
  --info-60: #7DB6DF;
  --info-40: #A8CEEA;
  --info-20: #D4E7F4;
}